<div class="checkout-gift-wrap" data-gift-note-html="">
  <h2 class="section__title">Gift options</h2>
  <div class="cart-notes" data-cart-notes="">
    <div class="cart-notes-interaction">
      <div class="cart-notes-checkbox-container">
        <input type="checkbox" id="cart-notes-gift-message" class="cart-notes-checkbox" data-cart-notes-checkbox="">
        <button class="cart-notes-checkbox-display" data-cart-notes-checkbox-display=""></button>
        <label class="cart-notes-label" for="cart-notes-gift-message"><span>Add a Gift Message</span></label>
      </div>
      <button class="cart-notes-edit-message" data-edit-message="">(<span>Edit Message</span>)</button>
    </div>
    <div class="cart-notes-form">
      <textarea class="cart-notes-textarea field__input" placeholder="Enter gift note here." value="" name="checkout[note]" data-cart-notes-textarea="" maxlength="250"></textarea>
      <button class="cart-notes-submit" data-cart-notes-submit="">Add Gift Message</button>
      <span class="cart-notes-textarea-counter" gift-note-character-counter="">0 / 250 remaining</span>
    </div>
  </div>
</div>