<section class="lazy-background" {% if section.settings.background_image %}
         data-src="{{ section.settings.background_image | img_url: '1903x' }}" {% endif %}>
  
  <div class="page-width">
    <h1 class="title">{{ section.settings.title }}</h1>
    
    {% if section.settings.icon %}
      <div class="image-part">
        <img class="lazyload" data-src="{{ section.settings.icon | img_url: '124x' }}" />
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Careers Header",
	"class": "careers-header",
    "settings": [
		{
			"type"  :  "image_picker",
			"id"    :  "background_image",
			"label" :  "Background Image"
		},
		{
			"type"  :  "text",
			"id"    :  "title",
			"label" :  "Title"
		},
		{
			"type"  :  "image_picker",
			"id"    :  "icon",
			"label" :  "Icon"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
