<div class="discount_page">
  <div class="page-width vertical-center">
    <div class="grid__item medium-up--one-half small--one-whole discount_text_part">
      <h1 class="uppercase blue-text">Almond Cow<br>Discount Code</h1>
      <p class="brown-text">For $15 off and Free US Shipping<br>enter code <b>MILKMAKER</b> at checkout.</p>
    </div>
    <div class="grid__item medium-up--one-half small--one-whole">
      <div class="banner_img banner_img_contact">
        {{ 'discount-banner.jpg' | asset_url | img_tag }}
      </div>
    </div>
  </div>
</div>