<div class="main-page-template pages-{{ page.id }}">
  <div class="page-width">
    <div class="section-header text-center">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="page-content-part">
      {{ page.content }}
    </div>
  </div>
</div>
