<div class="ebook-page pulp-guide-page">
  <div class="page-width">
    <div class="grid vertical-center">
      <div class="grid__item medium-up--one-half">
        <img src="{{ 'ultimate-pulp-guide-image.png' | asset_url }}" />
      </div>
      <div class="grid__item medium-up--one-half">
        <div class="section-header">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="rte">
          {{ page.content }}
          <div class="klaviyo-form-KFjCGx"></div>
        </div>
      </div>
    </div>
  </div>
</div>