{% section 'careers-header' %}

<div class="careers-content">
  <div class="page-width">
    {{ page.content }}
    <div class="button-part">
      <a href="/pages/job-listings" class="btn main-btn">Job Openings</a>
    </div>
  </div>
</div>
