{% section 'careers-individual-header' %}

<div class="careers-content">
  <div class="page-width">
    {{ page.content }}
    <div class="button-part">
      {% if page.id == 67987243160 %}
      	<a href="https://form.typeform.com/to/ncay8BQ7" class="btn main-btn" target="_blank">Apply now</a>
      {% endif %}
      {% if page.id == 67991666840 %}
      	<a href="https://form.typeform.com/to/PkKmX0Gw" class="btn main-btn" target="_blank">Apply now</a>
      {% endif %}
      {% if page.id == 67991765144 %}
      	<a href="https://form.typeform.com/to/HzAxWraP" class="btn main-btn" target="_blank">Apply now</a>
      {% endif %}
    </div>
  </div>
</div>